<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <!-- adjust server/user/password as appropriate -->
        <add name="PGenDb" connectionString="Server=3.6.96.107;Port=4532;Database=pgen;User=apl;Password=db@123" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>